# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리

In [2]:
import pandas as pd

# 1. Series
1차원 데이터(정수,실수,문자열 등)

## Series 객체 생성
EX) 1월부터 4월까지 평균 온도 데이터(-20, -10, 10, 20)

In [3]:
temp=pd.Series([-20, -10, 10, 20])

In [13]:
temp

jan   -20
feb   -10
mar    10
apr    20
dtype: int64

In [5]:
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [6]:
print(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [7]:
tmep[0] #1월 온도

NameError: name 'tmep' is not defined

In [8]:
temp[0] #1월 온도

-20

In [9]:
temp[2] #3월 온도

10

# Series 객체 생성(index 지정)

In [15]:
temp=pd.Series([-20,-10,10,20], index=['jan', 'fab', 'mar', 'apr'])

In [11]:
temp

jan   -20
feb   -10
mar    10
apr    20
dtype: int64

In [12]:
temp['jan']

-20