# 데이터 수정

In [1]:
import pandas as pd
df =pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

## Column 수정

In [3]:
df['학교'].replace({'북산고':'상북고', '능남고':'무슨고'})

지원번호
1번    상북고
2번    상북고
3번    상북고
4번    상북고
5번    상북고
6번    무슨고
7번    무슨고
8번    무슨고
Name: 학교, dtype: object

In [4]:
df['학교'].replace({'북산고':'상북고'}, inplace=True)

In [5]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      Python
2번    정대만  상북고  184   40   35   50  55  25        Java
3번    송태섭  상북고  168   80   75   70  80  75  Javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [6]:
df['SW특기']=df['SW특기'].str.lower()

In [7]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      python
2번    정대만  상북고  184   40   35   50  55  25        java
3번    송태섭  상북고  168   80   75   70  80  75  javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           c
7번    황태산  능남고  188   55   65   45  40  35      python
8번    윤대협  능남고  190  100   85   90  95  95          c#

In [8]:
df['학교']=df['학교']+'등학교'
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      python
2번    정대만  상북고등학교  184   40   35   50  55  25        java
3번    송태섭  상북고등학교  168   80   75   70  80  75  javascript
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202   80  100   95  85  80           c
7번    황태산  능남고등학교  188   55   65   45  40  35      python
8번    윤대협  능남고등학교  190  100   85   90  95  95          c#

## Column 추가

In [9]:
df['총합']=df['국어']+df['영어']

In [10]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      python  175
2번    정대만  상북고등학교  184   40   35   50  55  25        java   75
3번    송태섭  상북고등학교  168   80   75   70  80  75  javascript  155
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  100
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   35
6번    변덕규  능남고등학교  202   80  100   95  85  80           c  180
7번    황태산  능남고등학교  188   55   65   45  40  35      python  120
8번    윤대협  능남고등학교  190  100   85   90  95  95          c#  185

In [11]:
df['결과']='Fail'

In [12]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      python  175  Fail
2번    정대만  상북고등학교  184   40   35   50  55  25        java   75  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  javascript  155  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  100  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   35  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           c  180  Fail
7번    황태산  능남고등학교  188   55   65   45  40  35      python  120  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          c#  185  Fail

In [14]:
df.loc[df['총합']>100, '결과']='pass'  # 총합이 100보다 큰 데이터에 대해서 결과를 pass로

In [15]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      python  175  pass
2번    정대만  상북고등학교  184   40   35   50  55  25        java   75  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  javascript  155  pass
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  100  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   35  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           c  180  pass
7번    황태산  능남고등학교  188   55   65   45  40  35      python  120  pass
8번    윤대협  능남고등학교  190  100   85   90  95  95          c#  185  pass

## Column 삭제

In [16]:
df.drop(columns=['총합'])

       이름      학교    키   국어   영어   수학  과학  사회        SW특기    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      python  pass
2번    정대만  상북고등학교  184   40   35   50  55  25        java  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  javascript  pass
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           c  pass
7번    황태산  능남고등학교  188   55   65   45  40  35      python  pass
8번    윤대협  능남고등학교  190  100   85   90  95  95          c#  pass

## Row 삭제

In [17]:
df.drop(index='4번')

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      python  175  pass
2번    정대만  상북고등학교  184   40   35   50  55  25        java   75  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  javascript  155  pass
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   35  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           c  180  pass
7번    황태산  능남고등학교  188   55   65   45  40  35      python  120  pass
8번    윤대협  능남고등학교  190  100   85   90  95  95          c#  185  pass

In [18]:
filt=df['수학']<80
df[filt]

       이름      학교    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
2번    정대만  상북고등학교  184  40  35  50  55  25        java   75  Fail
3번    송태섭  상북고등학교  168  80  75  70  80  75  javascript  155  pass
4번    서태웅  상북고등학교  187  40  60  70  75  80         NaN  100  Fail
5번    강백호  상북고등학교  188  15  20  10  35  10         NaN   35  Fail
7번    황태산  능남고등학교  188  55  65  45  40  35      python  120  pass

In [19]:
df[filt].index

Index(['2번', '3번', '4번', '5번', '7번'], dtype='object', name='지원번호')

In [20]:
df.drop(index=df[filt].index)

       이름      학교    키   국어   영어   수학  과학  사회    SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85  python  175  pass
6번    변덕규  능남고등학교  202   80  100   95  85  80       c  180  pass
8번    윤대협  능남고등학교  190  100   85   90  95  95      c#  185  pass

## Row 추가

In [21]:
df.loc['9번']=['이정환', '하남고등학교', 184, 90, 90, 90, 90, 90, 'kotlin', 450, 'pass']
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      python  175  pass
2번    정대만  상북고등학교  184   40   35   50  55  25        java   75  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  javascript  155  pass
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  100  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   35  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           c  180  pass
7번    황태산  능남고등학교  188   55   65   45  40  35      python  120  pass
8번    윤대협  능남고등학교  190  100   85   90  95  95          c#  185  pass
9번    이정환  하남고등학교  184   90   90   90  90  90      kotlin  450  pass

## Cell 수정

In [22]:
df.loc['4번', 'SW특기']='python' #4번 학새으의 sw특기 데이터를 python으로 변환

In [23]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      python  175  pass
2번    정대만  상북고등학교  184   40   35   50  55  25        java   75  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  javascript  155  pass
4번    서태웅  상북고등학교  187   40   60   70  75  80      python  100  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   35  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           c  180  pass
7번    황태산  능남고등학교  188   55   65   45  40  35      python  120  pass
8번    윤대협  능남고등학교  190  100   85   90  95  95          c#  185  pass
9번    이정환  하남고등학교  184   90   90   90  90  90      kotlin  450  pass

In [24]:
df.loc['5번', ['학교', 'SW특기']]=['하남고등학교', 'C'] # 5번의 학교와 특기 변경

In [25]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      python  175  pass
2번    정대만  상북고등학교  184   40   35   50  55  25        java   75  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  javascript  155  pass
4번    서태웅  상북고등학교  187   40   60   70  75  80      python  100  Fail
5번    강백호  하남고등학교  188   15   20   10  35  10           C   35  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           c  180  pass
7번    황태산  능남고등학교  188   55   65   45  40  35      python  120  pass
8번    윤대협  능남고등학교  190  100   85   90  95  95          c#  185  pass
9번    이정환  하남고등학교  184   90   90   90  90  90      kotlin  450  pass

## Column 순서 변경

In [26]:
cols=list(df.columns)
cols

['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과']

In [29]:
df=df[[cols[-1]]+cols[0:-1]] # 맨뒤에 있는 결과 column을 앞으로 가져오고, 나머지 column들과 합쳐 순서 변경

In [28]:
df

        결과   이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    pass  채치수  상북고등학교  197   90   85  100  95  85      python  175
2번    Fail  정대만  상북고등학교  184   40   35   50  55  25        java   75
3번    pass  송태섭  상북고등학교  168   80   75   70  80  75  javascript  155
4번    Fail  서태웅  상북고등학교  187   40   60   70  75  80      python  100
5번    Fail  강백호  하남고등학교  188   15   20   10  35  10           C   35
6번    pass  변덕규  능남고등학교  202   80  100   95  85  80           c  180
7번    pass  황태산  능남고등학교  188   55   65   45  40  35      python  120
8번    pass  윤대협  능남고등학교  190  100   85   90  95  95          c#  185
9번    pass  이정환  하남고등학교  184   90   90   90  90  90      kotlin  450

## Column 이름 변경

In [30]:
df.columns

Index(['결과', '이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합'], dtype='object')

In [33]:
df['결과']

지원번호
1번    pass
2번    Fail
3번    pass
4번    Fail
5번    Fail
6번    pass
7번    pass
8번    pass
9번    pass
Name: 결과, dtype: object

In [38]:
df= df[['결과', '이름', '학교']]

In [39]:
df.columns=['result','name','school']

In [40]:
df

     result name  school
지원번호
1번     pass  채치수  상북고등학교
2번     Fail  정대만  상북고등학교
3번     pass  송태섭  상북고등학교
4번     Fail  서태웅  상북고등학교
5번     Fail  강백호  하남고등학교
6번     pass  변덕규  능남고등학교
7번     pass  황태산  능남고등학교
8번     pass  윤대협  능남고등학교
9번     pass  이정환  하남고등학교